// hero-section.scss
@import '../styles/variables';
@import '../styles/mixins';

// @include transition(background-color, box-shadow); // Incorrect
// @include transition(background-color box-shadow); // Correct for a single argument if using the modified mixin

// .hero-section {
//     @include transition(box-shadow);
// }



.hero-section {
  padding: 3rem 0;
  background-color: $background-light;
  text-align: center;

  h1, h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  h1 {
    font-size: $font-size-large;
    color: $primary-color;
    @include box-shadow($box-shadow-size, $primary-color);
  }

  h2 {
    font-size: $font-size-medium;
    color: #666;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: $font-size-small;
    color: $text-color-light;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .btn-primary {
    background-color: $primary-color;
    border: $border-width solid $primary-color;
    color: $secondary-color;
    @include box-shadow($box-shadow-size, $primary-color);
    // @include transition(background-color, box-shadow);
    font-size: 1rem;
    padding: 0.75rem 1.5rem;

    // &:hover {
    //   background-color: $hover-color;
    //   @include box-shadow($box-shadow-large-size, $primary-color);
    // }
  }

  .btn-outline-secondary {
    background-color: transparent;
    border: $border-width solid $primary-color;
    color: $primary-color;
    @include box-shadow($box-shadow-size, $primary-color);
    // @include transition(background-color, color, box-shadow);

    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
      @include box-shadow($box-shadow-large-size, $primary-color);
    }
  }
}

/* Тёмный режим */
.hero-section.dark-mode {
  background-color: $background-dark;
  color: $text-color-dark;
  border-bottom: $border-width solid $text-color-dark;

  h1 {
    color: $secondary-color;
    @include box-shadow($box-shadow-size, $secondary-color);
  }

  h2 {
    color: #ccc;
  }

  p {
    color: #bbb;
  }

  .btn-primary {
    background-color: $secondary-color;
    border: $border-width solid $secondary-color;
    color: $background-dark;
    @include box-shadow($box-shadow-size, $secondary-color);

    &:hover {
      background-color: #ccc;
      @include box-shadow($box-shadow-large-size, $secondary-color);
    }
  }
}
