/* .hero-section {
  background: url('your-image-url.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 5rem 0;
  transition: background-color 0.3s, color 0.3s;
}

.hero-section.dark-mode {
  background-color: #343a40; 
  color: #f8f9fa;
}

.hero-section .btn {
  margin: 0.5rem;
} */



 .hero-section {
  padding: 3rem 0;
  background-color: #f0f0f0; 
  /* color: #000; */
  /* font-family: 'Courier New', Courier, monospace; */
  /* border-bottom: 2px solid #000; */
  text-align: center;
} 

.hero-section h1, .hero-section h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-section h1 {
  font-size: 3rem;
  color: #000;
  text-shadow: 3px 3px 0 #000;
}

.hero-section h2 {
  font-size: 2rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.hero-section p {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero-section .btn-primary {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 3px 3px 0 #000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.hero-section .btn-primary:hover {
  background-color: #333;
  box-shadow: 5px 5px 0 #000;
}



/* Тёмный режим */
.hero-section.dark-mode {
  background-color: #1a1a1a;
  color: #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.hero-section.dark-mode h1 {
  color: #fff;
  text-shadow: 3px 3px 0 #fff;
}

.hero-section.dark-mode h2 {
  color: #ccc;
}

.hero-section.dark-mode p {
  color: #bbb;
}

.hero-section.dark-mode .btn-primary {
  background-color: #fff;
  border: 2px solid #fff;
  color: #1a1a1a;
  box-shadow: 3px 3px 0 #fff;
}

.hero-section.dark-mode .btn-primary:hover {
  background-color: #ccc;
  box-shadow: 5px 5px 0 #fff;
}

.hero-section.dark-mode .btn-outline-secondary {
  border: 2px solid #fff;
  color: #fff;
}

.hero-section.dark-mode .btn-outline-secondary:hover {
  background-color: #fff;
  color: #1a1a1a;
  box-shadow: 5px 5px 0 #fff;
}

.hero-section .btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  box-shadow: 3px 3px 0 #000;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.hero-section .btn-outline-secondary:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 5px 5px 0 #000;
} 