#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Светлый режим по умолчанию */
.navbar-light .nav-link {
  color: #000; /* Чёрный цвет для светлого режима */
}

.navbar-light .nav-link:hover {
  color: #007bff; /* Синий цвет при наведении */
}

/* Переопределение для тёмного режима */
.dark-mode .navbar-light .nav-link {
  color: #fff !important; /* Белый цвет для тёмного режима с !important */
}

.dark-mode .navbar-light .nav-link:hover {
  color: #f0ad4e !important; /* Цвет при наведении в тёмном режиме с !important */
}

/* Home.css */
.home-page {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Styles */
.home-page.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

/* Additional Styles for Dark Mode */
.home-page.dark-mode .hero-section,
.home-page.dark-mode .featured-courses,
.home-page.dark-mode .course-categories,
.home-page.dark-mode .popular-courses,
.home-page.dark-mode .promo-banners,
.home-page.dark-mode .about-section,
.home-page.dark-mode .student-testimonials {
  background-color: #333;
  color: #f0f0f0;
}

/* App.css */
.app {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Styles */
.app.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

/* Example: Dark Mode Styles for specific components */
.app.dark-mode .header,
.app.dark-mode .footer {
  background-color: #333;
  color: #f0f0f0;
}

